.item-list {
  &__container {
    height: 58vh;
    // todo: v-layoutに直す
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .active {
    background-color: #dcdcdc;
  }

  .active:hover {
    background-color: #d3d3d3;
  }

  &__items {
    padding: 0;
    width: 100%;
    margin: 15px 0 15px 0;

    &:first-of-type {
      border-top: 1px solid #cd5c5c;
    }
  }

  &__item-name {
    padding: 10px;
    font-size: 1.8rem;
    list-style: none;
    border-bottom: 1px solid #cd5c5c;
    transition-duration: 0.7s;
  }

  &__item-name:hover {
    background-color: #f5f5f5;
  }

  &__bottom {
    position: fixed;
    bottom: 10px;
  }
}
